body {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #404040;
}

.toolbox-title {
    width: 270px;
    line-height: 43px;
    margin: 50px auto 20px;
    margin-left: 10px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: forestgreen;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #dc745e, #d45742);
    background-image: -moz-linear-gradient(top, #dc745e, #d45742);
    background-image: -o-linear-gradient(top, #dc745e, #d45742);
    background-image: linear-gradient(to bottom, #dc745e, #d45742);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.toolbox-titlex,.toolbox-titleq {
    display:none;
    width: 270px;
    line-height: 43px;
    margin: -60px auto 20px;
    margin-left: 10px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: forestgreen;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #dc745e, #d45742);
    background-image: -moz-linear-gradient(top, #dc745e, #d45742);
    background-image: -o-linear-gradient(top, #dc745e, #d45742);
    background-image: linear-gradient(to bottom, #dc745e, #d45742);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.panel{
    display: none;
    margin: 0 auto 20px 10px;
    width: inherit;
    height: inherit;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}
.toolbox {
    margin: 0 auto;
    margin-left: 10px;
    width: 230px;
    height:700px;
    padding: 20px;
    font-family: "Helvetica";
    font-size: small;
    background: #f4f4f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

a.streamproperty{
    float:right;
    width:26px;
    height:26px;
    width:20px;
    height: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-30px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}
a.showConnector {
    float: right;
    width: 26px;
    height: 26px;
    width: 20px;
    height: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: -30px;
    margin-right: 25px;
    cursor: pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-input {
    display: block;
    width: 100%;
    height: 38px;
    margin-top: 2px;
    font-weight: 500;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}

.panel-input-streamName {
    display: block;
    width: 100%;
    height: 38px;
    margin-top: 2px;
    font-weight: 500;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}
.panel-input-streamDef {
    display: block;
    width: 100%;
    height: 38px;
    margin-top: 2px;
    font-weight: 500;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
}
.panel-input:focus {
    border-color: #1e9ce6;
    outline: 0;
}

.panel-button,.panel-button-cancel,.panel-button-reset {
    display: block;
    width: 33%;
    float:left;
    height: 42px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #494d59;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #fcfcfc;
    border: 1px solid;
    border-color: #d8d8d8 #d1d1d1 #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.03), 0 1px rgba(0, 0, 0, 0.04);
}

.panel-button:active {
    background: #eee;
    border-color: #c3c3c3 #d1d1d1 #d8d8d8;
    background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.panel-button:focus {
    outline: 0;
}

#importstream{
    display: none;
}
#exportstream{
    display: none;
}
#Tempstream{
    display: none;
}

.lblstreamProp {
    float: left;
    margin-right: 5em;
}

.lblstreamtype{
    margin: 20px 0px 20px 10px;
}

.istreamlbl{
    margin:20px 10px 20px 0px;
    float:left;
}

.estreamlbl{
    margin:20px 10px 20px 0px;
    float:left;
}

.iPredefStreamdiv{
    margin:20px 0px 20px 0px;
    float: left;
}

.ePredefStreamdiv{
    margin:20px 0px 20px 0px;
    float: left;
}

.panel-button-moreStreamData{
    margin: 20px 0px 20px 0px;
}

.streamDefDiv{
    margin: 20px 0px 20px 0px;
}

.panel-input-streamName{
    margin: 20px 0px 20px 0px;
}

.disabledbutton{
    pointer-events: none;
    opacity: 0.4;
}

.importdiv{

    margin: 20px 0px 20px 0px;
    box-shadow: 3px 4px 5px 6px #707070;
}

.exportdiv{
    margin: 20px 0px 20px 0px;
    box-shadow: 3px 4px 5px 6px #707070;
}

.attrDiv{
    margin: 20px 0px 20px 0px;
    box-shadow: 3px 4px 5px 6px #707070;
}

.streamDiv{
    min-height: 450px;
    margin: 20px 0px 20px 0px;
    box-shadow: 3px 4px 5px 6px #707070;
}

.btn-import{
    margin:10px 100px 10px 0px;
}

.btn-export{
    margin:10px 100px 10px 0px;
}

.streambtn{
    position: inherit;
}

.streamnameLbl{
    /*float: left;*/
    /*width: 50%;*/
}

.attrTypecomboDiv{
    float: left;
    width: 25%;
}

.addAttrBtn{
    float: left;
    width: 25%;
}

.istreamName{
    margin:20px 100px 20px 0px;
    width: 220px;
    background: transparent url('../Images/bg.jpg') no-repeat;
    color : #747862;
    height:20px;
    border:0;
    padding:4px 8px;
}

.estreamName{
    margin:20px 100px 20px 0px;
    width: 220px;
    background: transparent url('../Images/bg.jpg') no-repeat;
    color : #747862;
    height:20px;
    border:0;
    padding:4px 8px;
}

.headingimport {
    background-color: #565656;
    text-align: center;
    margin:20px 0px 20px 0px;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.headingexport{
    background-color: #565656;
    text-align: center;
    margin:20px 0px 20px 0px;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.headingstream{
    background-color: #565656;
    text-align: center;
    margin:20px 0px 20px 0px;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.btn-define-stream{
    margin:20px 0px 20px 0px
}

.newStreamName {
    margin: 20px 100px 20px 0px;
    width: 30%;
    float: left;
    background: transparent url('../Images/bg.jpg') no-repeat;
    color: #747862;
    height: 20px;
    border: 0;
    padding: 4px 8px;
}

.addattrsetbtn{
    margin:20px 100px 20px 0px;
    float: left;
}

.attr-textfield-stylepair{
    margin: 20px 0px 10px 0px;
    float:left;
    width: 220px;
    background: transparent url('../Images/bg.jpg') no-repeat;
    color: #747862;
    height: 20px;
    border: 0;
    padding: 4px 8px;
}

.attr-combobox-stylediv{
}

.addenteredattr{
}

.inputvalDiv{

    margin:20px 0px 20px 0px
}

.inputLbl{
    float: left;
    width: 100%;
}

.streamnameLbl{
    float:left;
    margin: 10px 0px 20px 10px;
    width:30%;
}

.StreamNameInput{
    width: 30%;
    margin: 10px 0px 20px 0px;
}

.attrName{
    float: left;
    margin: 10px 0px 20px 10px;
    width:30%;
}

.attNam{
    float: left;
    width: 30%;
    margin: 10px 0px 20px 0px;
}

.attrTypecomboDiv{
    width:15%;
    margin: 10px 0px 20px 10px;
}

.addAttrBtn{
    width: 15%;
    margin: 10px 0px 20px 10px;
}

.closeAttr{
    margin: 20px 100px 20px 0px;
}

.showAttrDivision{
    margin: 20px 0px 20px 0px;
    box-shadow: 3px 4px 5px 6px #707070;
    width: 100%;
}

table {
    border: 2px solid transparent;
}

td {
    padding: 5px;
    border: 1px solid transparent;
}
.queryDiv{
    margin: 20px 0px 20px 0px;
    width: 600px;
    box-shadow: 3px 4px 5px 6px #707070;
}

.simpleQueryLabel, .windowStreamLabel{
    background-color: #565656;
    text-align: center;
    margin:20px 0px 20px 0px;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.tableQueryForm{
    border-style: none;
}

.connectorIn{
    float: left;
    margin-top: 25%;
    margin-left: -10%;
}

.connectorOut{
    float: right;
    margin-top: 25%;
    margin-right: -10%;
}

.connectorInPart{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.connectorStream{
    float: right;
    margin-top: 25%;
    margin-right: -10%;
}

.jqueryDivLeft, .jqueryDivRight, .jqueryDivAttrMap , .stqueryDivState, .stqueryDivLogic, .stqueryDivAttrMap , .DefWindowAttrDiv , .rangePartitionTypeTableDiv, .partitionTypeTableDiv {
    margin: 20px 0px 20px 0px;
    box-shadow: 3px 4px 5px 6px #707070;
}

.variablePartitionTypeTableDisplayDiv, .rangePartitionTypeTableDisplayDiv{
    margin: 20px 20px 20px 20px;
    box-shadow: 3px 4px 5px 6px lightgrey;
}

.DefWindowAttrTableDiv{
    margin: 20px 0px 20px 0px;
    box-shadow: 3px 4px 5px 6px grey;
}

.stMultipleStateDiv{
    margin: 30px 10px 30px 20px;
    box-shadow: 3px 4px 5px 6px ;
}

.joinLeftStreamLabel, .joinRightStreamLabel{
    width: 100%;
    text-align: center;
}

.settingsIcon{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-90px;
    margin-right:20px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

.settingsIconDef{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-3px;
    margin-right:-3px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

.queryNameNode{
    float:right;
    width:100%;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-3px;
    margin-right:-3px;
}

/* Import & Export Streams */

.checkboxStyle{
    float:right;
    width:20px;
    height:20px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:0px;
    margin-right:0px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

/* Window Stream */

.checkboxStyleWindow{
    float:right;
    width:20px;
    height:20px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-82px;
    margin-right:0px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

/* Defined Stream */

.checkboxStyleDefinedStream{
    float:right;
    width:20px;
    height:20px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:0px;
    margin-right:0px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

/* Queries */

.checkboxStyle1{
    float:right;
    width:20px;
    height:20px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-2px;
    margin-right:-120px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
    padding-left: 10px;
    padding-top: 4px;
}

/* Import & Export Streams */

a.boxclose{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Window Stream */

.boxclosewindow{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-116px;
    margin-right:-30px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Queries */

a.boxclose1{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-34px;
    margin-right:-147px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Import, Export and Defined Streams */

.showIconDefined{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-30px;
    margin-right:-5px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Window Stream */

.showIconDefinedwindow{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-116px;
    margin-right:-3px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Queries */

.showIconDefined1{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-34px;
    margin-right:-120px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Defined Streams */

.settingsIconLoc{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-30px;
    margin-right:20px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Window Stream */

.windowSettingIconLoc{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-116px;
    margin-right:22px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Queries */

.querySettingIconLoc{
    float:right;
    width:26px;
    height:26px;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top:-34px;
    margin-right:-95px;
    cursor:pointer;
    color: red;
    border-radius: 40px;
}

/* Import & Export Streams */

.streamIconloc{
    float:left;
    width:32px;
    height:32px;
    background-color: transparent;
    border: 1px solid transparent;
    border-color: #707070;
    border-style:solid;
    cursor:pointer;
    color: red;
    border-radius: 30px;
}

#pane {
    position: absolute;
    width: 45%;
    height: 45%;
    top: 20%;
    left: 20%;


    margin: 0;
    padding: 0;
    z-index: 99;
    border: 2px solid purple;
    background: #fefefe;
}

#title {
    font-family: monospace;
    background: purple;
    color: white;
    font-size: 24px;
    height: 30px;
    text-align: center;
}

#ghostpane {
    background: #999;
    opacity: 0.2;

    width: 45%;
    height: 45%;
    top: 20%;
    left: 20%;

    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 98;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.myButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #b3a8b3));
    background:-moz-linear-gradient(top, #ededed 5%, #b3a8b3 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #b3a8b3 100%);
    background:-o-linear-gradient(top, #ededed 5%, #b3a8b3 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #b3a8b3 100%);
    background:linear-gradient(to bottom, #ededed 5%, #b3a8b3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#b3a8b3',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b3a8b3), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #b3a8b3 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #b3a8b3 5%, #ededed 100%);
    background:-o-linear-gradient(top, #b3a8b3 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #b3a8b3 5%, #ededed 100%);
    background:linear-gradient(to bottom, #b3a8b3 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3a8b3', endColorstr='#ededed',GradientType=0);
    background-color:#b3a8b3;
}
.myButton:active {
    position:relative;
    top:1px;
}

#jsonOutput, #inputFileNameToSaveAs
{
    background: #f4f4f4;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}


