<html>
<head>

    <script src="../Javascript/Helperscripts/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../Javascript/Helperscripts/jquery-ui.min.js"></script>
    <script src="../Javascript/Helperscripts/jquery.jsPlumb-1.4.1-all-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jsPlumb/1.4.1/jquery.jsPlumb-1.4.1-all-min.js"></script>
    <script src="../Javascript/Helperscripts/jquery.jsPlumb-1.6.4-min.js"></script>
    <script src="../Javascript/Customscripts/trail.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../CSS/restartstyle.css">
    <link rel="stylesheet" type="text/css" href="../CSS/propertybox.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../CSS/pe-icon-7-stroke.css" rel="stylesheet" />

</head>

<body>

<section>

    <!--Toolbox for Elements-->

    <h1 class="toolbox-title">Toolbox</h1>
    <div style="float: left;" class="toolbox" id="toolbox">
        <table>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Stream</label>
                </td>
                <td>
                    <div class="stream" id="cId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Window</label>
                </td>
                <td>
                    <div class="wstream" id="wiId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Simple Query</label>
                </td>
                <td>
                    <div class="squery" id="rId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Pass-through</label>
                </td>
                <td>
                    <div class="nElem" id="lId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Window Query</label>
                </td>
                <td>
                    <div class="wquery" id="wId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Join Query</label>
                </td>
                <td>
                    <div class="joquery" id="jId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">State Machine Query</label>
                </td>
                <td>
                    <div class="stquery" id="stId"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-4 control-label">Partition</label>
                </td>
                <td>
                    <div class="partition" id="pId"></div>
                </td>
            </tr>
        </table>
    </div>

    <!--Container/Canvas-->

    <div id="container" class="container">
    </div>

    <div style="float: left" class="property" id="propertypane">
        <h1 class="toolbox-titlex" id="toolbox-titlex" name="toolbox-titlex">Properties</h1>
        <form class="panel"  id="lot" name="lot">
        </form>
    </div>

    <!--Json Output and Manipulation Panel-->

    <div>
        <table style="margin-top: 780px" class="form-group">
            <tr>
                <td>
                    <label>Json Output:</label>
                </td>
                <td>
                    <textarea id="jsonOutput" style="width:825px;height:100px" class="form-control input-md"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label>File name to save as:</label>
                </td>
                <td>
                    <input id="inputFileNameToSaveAs" class="form-control input-md"/>
                </td>
            </tr>
            <tr>
                <td>
                    <button id="saveButton" class="myButton">Save</button>
                </td>
                <td>
                    <button id="exportButton" class="myButton">Export</button>
                </td>
                <td>
                    <button id="loadButton" class="myButton" style="margin-left: -630px">Load</button>
                </td>
            </tr>
        </table>
    </div>

</section>
</body>

</html>
